/* Login and Register Form */
.form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
  height: 100vh;
  background-image: url('src/assets/authenticationBg/authBack.jpg');
  background-size: cover;
  background-position: center;
}

#welcomeMessage {
  margin-top: -30px;
  margin-bottom: 30px;
  font-size: 21px;
}

/* logo */
.logo img {
  z-index: 2;
  width: 200px;
  height: 150px;
  margin: -20px;
}

.form {
  transform: scale(95%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 22px;
  margin-right: 90px;
  padding: 45px 0px;
  border-radius: 25px;
  max-width: 400px;
  width: 100%;
  border: 1px solid rgb(233, 227, 227);
  box-shadow: 8px 14px 20px rgba(0, 0, 0, 0.1);
  background-color: rgba(102, 209, 178, 0.8);
  z-index: 2;
}


.form input {
  padding: 15px;
  width: 65%;
  border-radius: 15px;
  border: 1px solid rgba(123, 82, 59, 255);
  font-size: 15px;
  background-color: inherit;
  -webkit-box-shadow: 0 0 0 100px rgba(102, 209, 178, 1) inset;
  box-shadow: 0 0 0 100px rgba(102, 209, 178, 1) inset;
}

.form input::placeholder {
  color: rgb(65, 64, 62);
  font-size: large;
}

.form input:focus {
  outline: none;
}

.form .error-message {
  color: rgb(197, 9, 9);
  font-size: 14px;
  margin-top: -15px;
}

.form button {
  padding: 12px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #d3d1d1;
  position: relative;
  font-weight: 1000;
  font-size: 18px;
  -webkit-box-shadow: 4px 8px 29px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  overflow: hidden;
}

.form button:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.link {
  text-decoration: none;
  color: rgb(85, 52, 12);
  font-weight: 500;
  font-size: large;
}

.link:hover {
  font-weight: 700;
  transition: 0.2s;
}


/* Responsive Design of form*/
@media (max-width: 768px) {
  .form-container {
    justify-content: center;
  }

  .form-container::before {
    filter: blur(5px);
  }

  .form {
    width: 90%;
    margin: 0;
    padding: 20px;
    transition: ease;
    transition-duration: 0.2s;
  }
}




/* ========== Toast ========= */
.Toastify__toast-container {
  width: 300px; 
  color: white;
  letter-spacing: 1px;
}

.Toastify__toast {
  border-radius: 15px; 
  background-color: #333; 
  color: #fff; 
  padding: 15px; 
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  font-size: 1rem; 
}

/* Success Toast Styling */
.Toastify__toast--success {
  background-color: #199736 !important; 
  color: #ffffff !important; 
}

/* Error Toast Styling */
.Toastify__toast--error {
  background-color: #dc3545 !important; 
  color: #fff; 
}

/* Slide Animation */
.Toastify__slide-enter--top-center {
  transform: translate3d(0, -100%, 0);
}

.Toastify__slide-exit--top-center {
  transform: translate3d(0, -150%, 0);
}


/* Responsive Styles */
@media (max-width: 600px) {
  .Toastify__toast-container {
    width: 60%;
    max-width: 400px;
    left: 50%;
    transform: translateX(-50%);
  }

  .Toastify__toast {
    padding: 10px;
    font-size: 0.9rem;
  }
}

@media (max-width: 400px) {
  .Toastify__toast-container {
    width: 70%;
  }

  .Toastify__toast {
    padding: 8px; 
    font-size: 0.85rem;
  }
}